.Whatsapp{
    background: rgb(38, 202, 23);
    border: green;
    box-shadow: gray 5px 5px 10px 5px;
    font-size: 20px;
    color: white;
    border-radius: 10px !important;
    font-family: 'Rubik', sans-serif;
}

.Whatsapp:hover{
    background: green;
    border: green;
    font-size: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

footer{
    border-radius: 20px;
}

.WhatsApp_icon{
  height: 30px;
  font-size: 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
}

.Inscripcion{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
    font-family: 'Rubik', sans-serif;

}

.btn{
    background: green;
    color: white;
    font-size: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.btn:hover{
    background: rgb(9, 212, 9);
    color: white;
    font-size: 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
}

.links_pago{
    padding: 15px 30px;
    background: rgb(251, 252, 251);
    text-decoration: none;
    color: rgb(1, 192, 10);
    border-radius: 30px;
    border: solid 1px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.links_pago:hover{
    padding: 20px 35px;
    background: rgb(2, 168, 2);
    text-decoration: none;
    color: rgb(229, 241, 230);
    border-radius: 30px;
    border: solid 1px;
    transition: all .5s;
    font-size: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.imagen_atencion{
    height: auto;
    width: auto;
    max-width: 100%;
	font-size: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.titulo_categoria1{
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    background-color: #aadba6;
    color: transparent;
  }

.cabeza__nav{
    background: #fff;
    font-size: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.logop{
  width: 400px;
}

.fila-tarjetas {
    display: flex;
    justify-content: space-between;
  }
  
  .tarjeta {
    width: auto;
    background-color: #a6d8b9;
    padding: 10px; /* Añade relleno interno a las tarjetas */
    margin-bottom: 10px; /* Añade un margen inferior entre las tarjetas */
    border-radius: 15px;
  }
  
  table {
    width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
    border-collapse: collapse; /* Fusiona los bordes de las celdas */
    background-color: transparent;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  
  td, th {
    border: 1px solid #dddddd; /* Establece el borde de las celdas */
    padding: 8px; /* Añade un espacio de relleno dentro de las celdas */
    text-align: left; /* Alinea el texto a la izquierda dentro de las celdas */
    border-color: transparent;
  }

  .imagenFooter{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .containerF{
    width: 99.9%;
  }
  