*{
  font-family: 'Rubik', sans-serif !important;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

.logop{
  width: 100px !important;
  font-family: 'Rubik', sans-serif;
}
.navbar{
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
}
.casa{
  width: 40px;
  height: auto;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}
.arriba{
  position: relative;
  color: #333;
  border-radius: 20px;
  z-index: 100;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}
.abajo{
  position: fixed;
  font-family: 'Rubik', sans-serif;
}