.image2{
    background: center;
    }
    .m1{
      background-color: #66a250;
      color: #000;
      font-size: 20px;
    }
    h1{
        font-size: 50px;
    }
    .contenedor{
        display: flex;
        justify-content: center;
        height: 500px;   
    }
    .texto{
        color: #030000;
        background: rgba(255, 255, 255, 0.226);
        border-radius: 10px;
        font-size: 20px;
        font-family: 'Rubik', sans-serif;
    }
    .texto p{
      text-align: justify;
    }
    .fila1{
        display: flex;
        justify-content: center;
        font-size: medium;
    
        
    }
    .titulo_modulos{
        text-align: center;
    }
    footer p {
        margin: 0;
        font-family: 'Rubik', sans-serif;
      }
      .card-img-top{
        border-radius: 20px;
        justify-content: center;
      }
      
      .l{
        border-radius: 20px;
        background-color: #ffffff;
      }
      
      .text-center{
        border-radius: 20px;
        font-family: 'Rubik', sans-serif;
        border-color: black;
      }
      
      .text-center2{
        border-radius: 20px;
        font-family: 'Rubik', sans-serif;
        border-color: black;
        text-align: center;
      }
      
      .text-init{
        border-radius: 20px;
        font-family: 'Rubik', sans-serif;
      }
      
      .d-flex{
        border-radius: 20px;
        font-family: 'Rubik', sans-serif;
      }
      
      p{
        border-radius: 10px;
        font-family: 'Rubik', sans-serif;
        color: black;
        text-align: left;
      }
      
      .text-reset{
        border-radius: 5px;
        font-family: 'Rubik', sans-serif;
        color: white;
        text-align: center, justify;
      }
      
      .fa-home{
        border-radius: 5px;
        font-family: 'Rubik', sans-serif;
        color: white;
      }
      
      section{
        background-color: rgba(248, 229, 247, 0.089);
        border-radius: 20px;
        font-family: 'Rubik', sans-serif;
      }
      
      .text-black{
        background-color: t;
        font-family: 'Rubik', sans-serif;
        border-radius: 50px;
        color: black;
        text-decoration: solid;
        text-align: center;
      }
      .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .parrafo{
        text-decoration: black;
      }
      
      .logo-container img {
        max-width: 100%;
        height: auto;
      }
      
      .logo-container p {
        font-size: 1.5rem;
        margin-top: 10px;
        text-align: center;
      }
      
      .central{
        text-align: center;
      }
      
      .imagenfooter{
        width: 1920;
        height: 880;
      }
      /* INICIO tarjeta*/
      .card { 
        position: relative;
        width: 100%;
        height: 400px;
        margin: 10px;
      }
      .card .face{
         position:absolute;
         width: 100%;
         height: 100%;
         backface-visibility: hidden;
         border-radius: 10px;
         overflow: hidden;
         transition: .5s;
      }
      .card .front {
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0  5px  10px #000;
       
      }
      .card .front img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    
      }
      .card .front h3{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45px;
        line-height: 45px;
        color: #000000;
        background: rgba(248, 237, 246, 0.4);
        text-align: center;
      }
      .card .back {
        transform: perspective(600px) rotateY(180deg);
        background: #66a250;
        padding: 15px;
        color: #0c0c0c;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5px 10px  #000;
      }
      .card .back .link{
        border-top: solid 1px #0e0d0d;
        height: 50px;
        line-height: 50px;
      }
      .card .back .link a {
        color: #f3f3f3;
      }
      .card .back h3 {
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 8px;
      }
    .card .back p{
      letter-spacing: 1px;
      text-align: center;
      text-align: justify;
    }
    .card:hover .front {
      transform: perspective(600px) rotateY(180deg);
    }
    .card:hover .back{
      transform: perspective(600px) rotateY(360deg);
    }
     /* FIN tarjeta*/
     body{
     }
     .logop{
      width: 400px;
     }